.about{
   
 
    background-color:gray;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  justify-content: center;
   
  .container {
    background-color: yellow;
     flex:2;
    text-align: center; 
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
 .left{
     background-color: black;
     flex:2;
     width: 100%;
     margin-left: 20%;
     height:5%;
     
 }
 
 img{
     height: 98%;
    
 }
    

    
    .right{
        width: 100%;
        height: 5%;
        background-color: black;
        flex:3;
        width: 100%;
        margin-right: 20%;
    }
    .middle{
       
        width:90%;
        height: 100%;
        flex:4;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        
        box-sizing: 50px 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
       
        
    .content{
       // background-color: rgb(206, 228, 206);
      
        flex:3;
       
        
       
        height: 100%;
        width: 100%;
        border-radius: 10% 10% 10% 10%;
        border-bottom-left-radius: 30%;
        
       
       
        p{
            img{
                float: left;
                height: 20%;
                width: 20%;
                transform:rotate(-5deg);
                margin-right: 5px;
                margin-bottom: 5px;
                margin-left: 0px;
                margin-top:0px;
                padding: 0;

            }
            
            color: yellow;
           font-size: 18px;
           font-family: 'Courgette', cursive;;
           line-height: 1.6;
            margin:20px;
            padding: 0;
            word-spacing: 5px;
           
            
        }
      
    }

    }
    .bottom{
        border-radius: 10% 10% 10% 10% ;
      background-color: yellow;

        margin-top: 20px;

        flex:4;
     
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
       
        .bottomLeft{
            h3{
                margin-left: 50px;
                color:black;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
                font-size: 33px;
                
            }
            
            flex:1;
        
            height: 100%;
            width: 100%;
            display: flex;
            
            align-items: center;
            flex-direction: column;
            ul{
                display: flex;
                flex-direction: row;
                margin: 10px;
               
                li{
                    color: blue;
                    margin: 10px;
                    
                    img{
                        width: 100%;
                        height:100%;
                        

                    }
                }
            }


        }
        .bottomRight{
            margin-left: 100px;
            h1{
                color: black;
            }
            flex:2;
           color: blue
           (38, 0, 255);
            height: 100%;
            width: 100%;
            font-weight: 800;

        }
        .education{
            margin-left: 100px;
            h1{
                color: black;
            }
            flex:2;
           color: blue
           (38, 0, 255);
            height: 100%;
            width: 100%;
            font-weight: 800;

        }
    }
}