@import "../../global.scss";
.PortFolioList{

    font-size: 20px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px ;
    cursor: pointer;

    &.active{
        background-color:$main-color;
        color:white;

    }
}
