@import "../../global.scss";


.works{
    overflow: scroll;
    background-image: 	url("https://www.w3schools.com/howto/img_parallax.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    .leftarrow{
        width:40%;
        height:50px;
        
        position:absolute;
        left:50px;
        cursor: pointer;
        @include mobile{
            display: none;
        }
    
      
    }
    .rightArrow{
        width:40%;
        transform: rotateY(-180deg);
        height:50px;
        position: absolute;
       
        right: 50px;
        cursor: pointer;
        @include mobile{
            display: none;
        }
    }
    .slider{
        
        height:450px;
        display:flex;
        position:absolute;
        left:0;
        transition: all  1s ease;
     
        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            margin-top: 80px;
            overflow-y: scroll;
            scroll-behavior: smooth;
        }
      
        
        .container{

            border-radius: 10% 0% 25% 25%;
            border-top-left-radius: 40%;
            background-color: rgb(170, 145, 5);
            @include mobile{
                border-radius: 0%;
            }
           
           width:100vw;
           display: flex;
           align-items: center;
           justify-content: center;
         
           .item{
            
               background-color:lightyellow;
               height: 100%;
               border-radius: 20px;
               width: 900px;
               display: flex;
               align-items: center;
               justify-content: center;
               overflow: scroll;
               @include mobile{
        
                   width: 90%;
                   height: 100px;
                   margin: 5px 0px;
                   border-radius: 0px;
               }
               .left{
               
                      height: 100%;
                      width: auto;
                      flex:5;
                      display: flex;
                      flex-direction: column;
                      margin-left: 20px;
                      flex-wrap: wrap;
                      flex-direction: column;
                      @include mobile{
                          margin: 2px;
                      }
                      .content{
                          overflow: scroll;
                          flex:5;
                      h2
                          {
                            font-size: 30px;
                            font-weight: 600;
                            color: darkblue;
                           margin-top: revert;
                            margin-bottom: 20px;

                            text-decoration: underline;
                            z-index: 2;
                            word-wrap: break-word;
                            @include mobile{
                                font-size: 10px;
                                font-weight: 400;
                             
                                margin-left: 3px;
                            }
                          }
                       
                          p{
                              height: 100%;
                              font-size: 18px;
                              color:black;
                              margin: 0 auto;
                              h1{
                                float:inline-end;
                                color: black;

                                z-index: 2;
                                margin-top: 80px;
                            }
                              @include mobile{
                                font-size: 8px;
                                font-weight: 200;
                              
                            }
                           
                        }
                    }
                            .buttons{
                                
                                flex: 2;
                                display: flex;
                                flex-direction: row;
                                height: 20%;
                                flex-wrap: wrap;
                                padding: 0;
                                @include mobile{
                                    display: none;
                                }
                                
                                Button{
                                    height: 40px;
                                    margin-left: 3px;
                                   
                                    font-weight:300;
                                    color:blue;
                                    width: auto;
                                 
                                }
                            }
                     
                              
                            
                        
                    }
                         
                          
                      
               
               .right{
                   height:80%;
                   flex:8;
                   
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   overflow: hidden;
                   img{
                       width:400px;
                    
                   }
               }
            }
        }
           }
        }
   
    
     
  
